.clear {clear:both;}


.ThreeDegrees.popup {
	display:none;
	position:absolute; bottom:25px; left:-25; z-index:1000000000000000000000000 !important;
	width:350px; height:200px; 
	border:1px solid #333; background-color:white;
}

.ThreeDegrees.popup .wrapper {position:relative; height:100%}

.ThreeDegrees .popup .profile {float:left; margin:20px 10px;}

.ThreeDegrees.popup .bottom-actions {
	position:absolute; bottom:0px;
	width:100%; height:30px; background-color:#ddd;
}

.shadow {
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}



/*.ThreeDegrees.pane {
	position:fixed; width:350px; height:100%; right:0px; top:0px; z-index:10000000000000000;
	background-color:#dfe2e7; 
}

.ThreeDegrees.pane .logo {background:url('chrome-extension://bnfcfjnphcgmhfcpddikgoeakclmgnfe/SixDegrees.png'); width:298; height:51px; margin:300px 26px;}

.ThreeDegrees.pane .content {position:relative;height:100%}
.ThreeDegrees.pane .content .profile {float:left; margin:20px 10px;}
.ThreeDegrees.pane .content .picture_frame {float:left; padding:2px; background-color:#fff; border:1px solid #333;}
.ThreeDegrees.pane .content .information {float:left;}

.ThreeDegrees.pane .content .left-border {
	position:absolute; top:0px; left:0px; width:1px; height:100%;
	background-color:#fff; border-left:1px solid #626262;
}
*/
.ThreeDegrees.name {position:relative; text-decoration:underline}
